/* loader */
.spinner-wrapper {
	z-index: 9999;
	background: #f4f6f9;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	.spinner {
		width: 50px;
		aspect-ratio: 1;
		border-radius: 50%;
		background:
			radial-gradient(farthest-side, #007bff 94%, #0000) top/8px 8px no-repeat,
			conic-gradient(#0000 30%, #007bff);
		-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
		animation: loader 1s infinite linear;
	}
}

@keyframes loader {
	100% {
		transform: rotate(1turn)
	}
}

.table thead th {
	padding-left: 8px;
	padding-right: 8px;
}

.table tbody tr td {
	padding: 8px;
	font-size: 13.5px;
}